.desktop {
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.desktop-icons {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 12px;
}

